---
import Layout from '@layouts/Default.astro';
import RecentBlogPosts from '@components/generic/RecentBlogPosts.astro';
import MobileSocials from '@components/home/MobileSocials.astro';
import { Pill } from '@eliancodes/brutal-ui';
import { Button } from '@eliancodes/brutal-ui';
import { Card } from '@eliancodes/brutal-ui';

const poems = [
  { name: 'Proposed Commercial for Dial Soap | GAMS', url: 'https://astro.build/' },
  { name: 'Death Uses a Lot of Laundry Detergent | The Kenyon Review', url: 'https://uno.antfu.me/' },
  { name: 'Mimic Octopus | Four Chambers', url: 'https://docs.astro.build/en/guides/content-collections/' },
  { name: 'Fragment Series IV | Juked', url: 'https://docs.astro.build/en/guides/rss/' },
  { name: '3 Poems | Menacing Hedge', url: 'https://docs.astro.build/en/guides/integrations-guide/sitemap/'},
  { name: '2 Poems | Hermeneutic Chaos Journal', url: 'https://vercel.com' },
  { name: 'CONCENTRATE AND ASK AGAIN | poets.org', url: 'https://www.typescriptlang.org/' },
  { name: 'To the Tiny Boat in the School Fountain | Rabbit Catastrophe Review', url: 'https://docs.astro.build/en/guides/integrations-guide/sitemap/'},
  { name: 'Cyparissus Appeals to Apollo for Transmutation | Nimbus', url: 'https://vercel.com' },
  { name: '1 Poem | Reed Magazine', url: 'https://www.typescriptlang.org/' },
];

const fiction = [
  { name: 'The Head | Moledro Magazine', url: 'https://astro.build/' },
  { name: 'The Death of Emmeline | Nimbus', url: 'https://uno.antfu.me/' },
];

const games = [
  { name: 'Asphodel', url: 'https://astro.build/' },
];
---

<Layout
  title='Home'
  pageTitle='Brutal Theme | Home'
  description='Brutal is a minimalistic, neobrutalism theme for Astro.'
>
  <main class='bg-pink p-6'>
    <MobileSocials />
    <section id='about' class='grid md:grid-cols-8 gap-8 mt-4'>
      <h2 class='hidden'>About Brutal</h2>
      <div class='col-span-4'>
        <Card>
          <div class='flex flex-col justify-between items-start gap-4'>
            <h2 class='text-2xl md:text-4xl lg:text-4xl mb-8 dm-serif'>
              About
            </h2>
            <p class='mt-2 outfit text-xl md:text-3xl lg:text-2xl'>
              Alec grew up in Greenville, South Carolina. He received his bachelor's degree in Computer Science from Bryn Mawr College in Pennsylvania. Now he works as a software developer in Seattle, where he lives with his partner and one cat. He loves cooking, collaging, and escape rooms. He is on a quest to watch every horror movie that's ever been made. 
            </p>
            <Button target={'_self'} href='/blog/'>
              News &rarr;
            </Button>
          </div>
        </Card>
      </div>
      <div class='col-span-3'>
        <Card>
          <h2 class='text-2xl md:text-4xl lg:text-4xl mb-8 dm-serif'>
            Poetry
          </h2>
          <ul class='flex gap-4 flex-wrap'>
            {
              poems.map((item) => (
                <li>
                  <Pill>
                    <a
                      class='sanchez'
                      href={item.url}
                      target='_blank'
                      title={`Go to ${item.name}`}
                    >
                      {item.name}
                    </a>
                  </Pill>
                </li>
              ))
            }
          </ul>
        </Card>
      </div>
      <div class='col-span-2'>
        <Card>
          <h2 class='text-2xl md:text-4xl lg:text-4xl mb-4 dm-serif'>
            Fiction
          </h2>
          <ul class='flex gap-4 flex-wrap'>
            {
              fiction.map((item) => (
                <li>
                  <Pill>
                    <a
                      class='sanchez'
                      href={item.url}
                      target='_blank'
                      title={`Go to ${item.name}`}
                    >
                      {item.name}
                    </a>
                  </Pill>
                </li>
              ))
            }
          </ul>
        </Card>
      </div>
      <div class='col-span-2'>
        <Card>
          <h2 class='text-2xl md:text-4xl lg:text-4xl mb-4 dm-serif'>
            Games
          </h2>
          <ul class='flex gap-4 flex-wrap'>
            {
              games.map((item) => (
                <li>
                  <Pill>
                    <a
                      class='sanchez'
                      href={item.url}
                      target='_blank'
                      title={`Go to ${item.name}`}
                    >
                      {item.name}
                    </a>
                  </Pill>
                </li>
              ))
            }
          </ul>
        </Card>
      </div>
    </section>
    <RecentBlogPosts />
  </main>
</Layout>
