---
import Layout from '@layouts/Default.astro';
import RecentBlogPosts from '@components/generic/RecentBlogPosts.astro';
import MobileSocials from '@components/home/MobileSocials.astro';
import { Pill } from '@eliancodes/brutal-ui';
import { Button } from '@eliancodes/brutal-ui';
import { Card } from '@eliancodes/brutal-ui';
import authorPic from '../../src/assets/about2.jpg';

const poems = [
  { name: 'Proposed Commercial for Dial Soap', location:'GAMS', url: 'https://gamszine.weebly.com/uploads/5/1/7/0/51707709/december2015gams.pdf' },
  { name: 'Death Uses a Lot of Laundry Detergent', location: 'The Kenyon Review', url: 'https://kenyonreview.org/journal/november-december-2016/' },
  { name: 'Mimic Octopus', location: 'Four Chambers', url: 'https://www.facebook.com/FourChambersPress/' },
  { name: 'Fragment Series IV', location: 'Juked', url: 'http://www.juked.com/2016/10/alyssa-mazzoli-fragment-series-iv.asp' },
  { name: '3 Poems', location: 'Menacing Hedge', url: 'https://www.menacinghedge.com/fall2017/entry-mazzoli.php'},
  { name: '2 Poems', location: 'Hermeneutic Chaos Journal', url: 'https://hermeneuticchaos.wordpress.com/' },
  { name: 'CONCENTRATE AND ASK AGAIN', location: 'poets.org', url: 'https://poets.org/2019-academy-american-poets-prize-concentrateandaskagain' },
  { name: 'To the Tiny Boat in the School Fountain', location: 'Rabbit Catastrophe Review', url: 'https://rabbitcatastrophepress.com/rcrstore/rabbit-catastrophe-review-014'},
  { name: 'Cyparissus Appeals to Apollo for Transmutation', location: 'Nimbus', url: 'https://nimbusmagazine.com/cyparissus-appeals-to-apollo-for-transmutation' },
  { name: '1 Poem', location: 'Reed Magazine', url: 'https://www.reedmag.org/' },
];

const fiction = [
  { name: 'The Head', location: "Moledro Magazine", description: 'They say that a person is still conscious up to 4 seconds after being decapitated.', url: 'https://duotrope.com/listing/20813/moledro-magazine' },
  { name: 'The Death of Emmeline', location: 'Nimbus', description: 'A Birthworld story.', url: 'https://nimbusmagazine.com/the-death-of-emmeline' },
];

const games = [
  { name: 'Asphodel', description: 'A Twine game about a woman trying to find her girlfriend in a strange world.', url: 'https://alecmazzoli.itch.io/asphodel'},
];
---

<Layout
  title='Home'
  pageTitle='Alec Mazzoli | Home'
  description='Brutal is a minimalistic, neobrutalism theme for Astro.'
>
  <main class='bg-gray p-6'>
    <section id='about' class='grid md:grid-cols-8 gap-8 mt-4'>
      <h2 class='hidden'>About</h2>
      <div class='col-span-4'>
        <Card>
          <div class='flex flex-col justify-between items-start gap-4'>
            <h2 class='text-2xl md:text-4xl lg:text-4xl mb-8 dm-serif'>
              About
            </h2>
            <p class='mt-2 outfit text-xl md:text-3xl lg:text-2xl'>
              Alec grew up in Greenville, South Carolina. He received his bachelor's degree in Computer Science from Bryn Mawr College in Pennsylvania. Now he works as a software developer in Seattle, where he lives with his partner and one cat. He loves cooking, collaging, and escape rooms. He is on a quest to watch every horror movie that's ever been made. 
            </p>
            <Button target={'_self'} href='/blog/'>
              News &rarr;
            </Button>
          </div>
        </Card>
      </div>
      <div class='col-span-2'>
        <img class="image-shadow" src={authorPic.src} alt="Picture of Alec" width="100%" height="100%" >
      </div>
      <div class='col-span-3'>
        <Card>
          <h2 class='text-2xl md:text-4xl lg:text-4xl mb-8 dm-serif'>
            Poetry
          </h2>
          <ul class='flex gap-4 flex-wrap'>
            {
              poems.map((item) => (
                <li>
                  <Button target='_blank' href={item.url}>
                    <b>{item.location}</b> | <i>{item.name}</i>
                  </Button>
                </li>
              ))
            }
          </ul>
        </Card>
      </div>
      <div class='col-span-2'>
        <Card>
          <h2 class='text-2xl md:text-4xl lg:text-4xl mb-4 dm-serif'>
            Fiction
          </h2>
          <ul class='flex gap-4 flex-wrap'>
            {
              fiction.map((item) => (
                <li>
                  <Button target='_blank' href={item.url}>
                    <b>{item.location}</b> | <i>{item.name}:</i> {item.description}
                  </Button>
                </li>
              ))
            }
          </ul>
        </Card>
      </div>
      <div class='col-span-2'>
        <Card>
          <h2 class='text-2xl md:text-4xl lg:text-4xl mb-4 dm-serif'>
            Games
          </h2>
          <ul class='flex gap-4 flex-wrap'>
            {
              games.map((item) => (
                <li>
                  <Button target='_blank' href={item.url}>
                    <i>{item.name}:</i> {item.description}
                  </Button>
                </li>
              ))
            }
          </ul>
        </Card>
      </div>
    </section>
    <RecentBlogPosts />
  </main>
</Layout>
